{% extends "layout.html" %}
{% block content %}
<h2 style="margin-top: 20px">Score from 100 Snake Games</h2>
<table class="table" style="margin-top: 20px">
    <thead>
    <tr>
        <th scope="col">Game Number</th>
        <th scope="col">Game Length</th>

    </tr>
    </thead>
    <tbody>
    {% for s in snakes %}
    <tr>
        <td><a href="./view.html/{{snakes.id}}">{{ snakes.id }}</a></td>
        <td>{{ s.Game_Number }}</td>
        <td>{{ d.Game_Length }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}