{% extends "layout.html" %}
{% block content %}

<h5 class="card-title" style="margin-top: 20px">No.{{ snakes.id }} - {{ snakes.Game_Number }}</h5>

<div class="card" class="m-5 p-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Year: {{ snakes.Game_Number }}</li>
        <li class="list-group-item">Score: {{ snakes.Game_Length }}</li>

    </ul>
    <div class="card-body">
        <form action="/delete/{{snakes.id}}" method="post">
            <a href="./edit.html/{{snakes.id}}" class="card-link btn btn-primary">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>



{% endblock %}
